@media (min-width: 992px) {
  .title__pc {
    width: 900px;
    height: auto;
  }
}

@media (min-width: 1200px) {
  .title__pc {
    width: 1200px;
    height: auto;
  }
}

@media (min-width: 1400px) {
  .title__pc {
    width: 1200px;
    height: auto;
  }
}
