<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Подросток</title>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a href="/index.html" class="navbar-brand">
                <span class="fw-bold text-primary">Профессиональная ориентация</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end aling-center" id="main-nav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/teenager.html" class="nav-link">Подросткам</a>
                    </li>
                    <li class="nav-item">
                        <a href="/parent.html" class="nav-link">Родителям</a>
                    </li>
                    <li class="nav-item">
                        <a href="/tests.html" class="nav-link">Тесты</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main content -->
    <section class="selection my-2">
        <div class="container">
            <div class="row justify-content-center position-relative">
                <div class="col-lg-6 d-none d-lg-flex">
                    <div class="pointer-none selection__person-div d-flex justify-content-end align-items-center">
                        <img class="selection__wave" src="assets/img/wave/wave-2.svg" alt="">
                        <img class="selection__person position-absolute" src="assets/img/person/person-2.svg" alt="">
                        <img class="selection__cloud position-absolute" src="assets/img/other/cloud.svg" alt="">
                        <p class="selection__text position-absolute">Что бы мне выбрать?</p>
                    </div>
                </div>
                <div class="teenager-table-xs col-12 col-lg-6">
                    <div class="d-flex d-lg-block flex-column align-items-center">
                        <a class="table link-underline link-underline-opacity-0 h6" href="/profInc.html">
                            <div style="background-image: url(/assets/img/pointer/table_aqua.svg);" 
                                class="mb-lg-3 mb-xl-5 imageContainer">
                               Что включает в себя профессиональная ориентация
                            </div>
                        </a>
                        <a class="table link-underline link-underline-opacity-0 h6" href="#">
                            <div style="background-image: url(/assets/img/pointer/table_blue.svg);"
                            class="mb-lg-3 mb-xl-5 imageContainer">
                                Плюсы и минусы IT профессии
                            </div>
                        </a>
                        <a class="table link-underline link-underline-opacity-0 h6" href="/VarProf.html">
                            <div style="background-image: url(/assets/img/pointer/table_lilac.svg);"
                            class="mb-lg-3 mb-xl-5 imageContainer">
                                Варианты получения профессии
                            </div>
                        </a>
                        <a class="table link-underline link-underline-opacity-0 h6" href="/advice.html">
                            <div style="background-image: url(/assets/img/pointer/table_purple.svg);"
                            class="mb-lg-3 mb-xl-5 imageContainer">
                                Советы по выбору рабочей специальности
                            </div>
                        </a>
                        <a class="table link-underline link-underline-opacity-0 h6" href="#">
                            <div style="background-image: url(/assets/img/pointer/table_purple-light.svg);"
                            class="mb-lg-3 mb-xl-5 imageContainer">
                                Ошибки при выборе будущей профессии
                            </div>
                        </a>
                    </div>
                </div>
                <div class="teenager-xm col-12">
                    <div class="teenager-table-xm">
                        <div class="teenager-table-text-xm">
                            <a class="link-underline link-underline-opacity-0 h6" href="/profInc.html">
                                Что включает в себя профессиональная ориентация
                            </a> 
                        </div>
                        <div class="teenager-table-text-xm">
                            <a class="link-underline link-underline-opacity-0 h6" href="#">
                                Плюсы и минусы IT профессии
                            </a> 
                        </div>
                        <div class="teenager-table-text-xm">
                            <a class="link-underline link-underline-opacity-0 h6" href="/VarProf.html">
                                Варианты получения профессии
                            </a> 
                        </div>
                        <div class="teenager-table-text-xm">
                            <a class="link-underline link-underline-opacity-0 h6" href="/advice.html">
                                Советы по выбору рабочей специальности
                            </a> 
                        </div>
                        <div class="teenager-table-text-xm">
                            <a class="link-underline link-underline-opacity-0 h6" href="#">
                                Ошибки при выборе будущей профессии
                            </a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- vendor -->
    <script src="sass/vendor/bootstrap/js/bootstrap.js"></script>
</body>
</html>